<div class="header-top">
    <div class="container">
<section class="home-cta-5">    
    <div class="container"> 
      <h1 class="text-center"><br /><br />Corporate Learning<br /><br /><br /><br /></h1>
    <div class="row row-cta-btn-group animated fadeIn">            
    <div class="col-sm-4"><a routerLink='/dashboard' class="btn btn-block btn-lg btn-primary">Dashboard</a></div>            
    <div class="col-sm-4"><a routerLink="/about" class="btn btn-block btn-lg btn-default">About</a></div>            
    <div class="col-sm-4"><a routerLink="/contact" class="btn btn-block btn-lg btn-default">Contact</a></div>        </div>        
    <div class="row home-cta-more">            
    <div class="col-xs-12 text-center"><a href="#ctl00_page_content"><i class="fa fa-chevron-circle-down" id="home-cta-5-morelink">&nbsp;</i></a></div>        </div>    </div></section>
    </div></div>