
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">POC</a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li ><a routerLink='/'>Home</a></li>
        <li ><a routerLink='/dashboard'>Dashboard</a></li>
          <li ><a routerLink='/about'>About</a></li>
          <li class="dropdown" appDropDown>
              <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Technology<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ><a routerLink='/'>Angular</a></li>
                <li><a routerLink='/'>Bootstrap</a></li>
                <li><a routerLink='/'>CSS</a></li>
              </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!authService.isAuthenticated()">
          <li class="dropdown" appDropDown>
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ><a routerLink='/login'>Login</a></li>
              <li><a routerLink='/Register'>Register</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right loggedin" *ngIf="authService.isAuthenticated()">
            <li class="dropdown" appDropDown>
              <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"> <img class="avatar" src="{{ images }}">
                {{authService.SNUser()}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a routerLink='/contact'>contact</a></li>
                <li role="separator" class="divider"></li>
                <li ><a (click)="Applogout()" role="button">Logout</a></li>
              </ul>
            </li>
        </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


